@import "../_palette.scss";

.radio-group {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    .radio-button {
        width: 100px;
        height: 100px;
        font-size: 40px;
        border-radius: $borderRadius;
        background-color: $white;
        border-width: 0px;
        margin-right: 16px;
        @include boxShadow();
        color: $inActive;
        justify-items: center;
        align-items: center;
        display: grid;
        &.active {
            background-color: $primary;
            color: $white;
        }
    }
}
